<div class="page-header">
  <h1>Contact #<%= @contact.id %> : <%= @contact.name %> </h1>
</div>

<dl class="dl-horizontal">
  <dt>Company</dt>
  <dd><%= @contact.company_id %></dd>

  <dt>HR</dt>
  <% if @contact.hr? %>
  	<dd> Yes </dd>
  <% else %>
  	<dd> No </dd>
  <% end %>

  <dt>Kelloggalum</dt>
  <% if @contact.kelloggalum? %>
  	<dd> Yes </dd>
  <% else %>
  	<dd> No </dd>
  <% end %>	

</dl>
